{{ partial "header" .}}
{{ $file := .Params.cvdata }}
{{ $data := getJSON $file}}

  <h1 id="title"> {{ .Title }}</h1>
	{{ .Content }}
	{{ if and ($data.employment) (gt ($data.employment | len ) 0) }}
		<h2>Employment</h2>
		<ul>
		{{ range $data.employment }}
			<li>
			<h3>{{ .year }}, {{ .company }} </h3>
			<p><b>{{ .title }}</b></p>
			{{ if .description }}
				{{ .description | markdownify}}
			{{ end }}
			</details>
		{{ end }}	
		</ul>
	{{ end }}
	
	{{ if (gt ($data.education | len ) 0) }}
		<h2>Education</h2>
		<ul>
		{{ range $data.education }}
			<li>
			<h3>{{ .degree }}, {{ .school }}, {{ .year }} </h3>
			{{ if .description }}
				{{ .description | markdownify}}
			{{ end }}
			</li>
		{{ end }}	
		</ul>
	{{ end }}
	
	<h2>Research</h2>
	<ul>
	{{ range ( where .Site.RegularPages.ByTitle "Section" "research" ) }}
	   <li>
		 <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
		 <p>{{ .Params.description}}</p>
		 </li>
	{{ end }}
	</ul>
	{{ if (gt ($data.skill | len) 0) }}
	<h2>Skills</h2>
	<ul><p>
		{{ range $data.skill}}
			{{ . }} &#20;
		{{ end }}
	{{ end }}
	</p></ul>
	<h2>Publications</h2>
	<ul>
	{{ range ( where .Site.RegularPages.ByDate.Reverse "Section" "publications" ) }}
		 {{ partial "publications/item" .}}
	{{ end }}
	</ul>
	<h2>Talks</h2>
	<ul>
	{{ range ( where .Site.RegularPages.ByDate.Reverse "Section" "talks" ) }}
		 {{ partial "talks/item" .}}
	{{ end }}
	</ul>
	{{ if (gt ($data.award | len ) 0) }}
	<h2>Honors and Awards</h2>
		<ul>
		{{ range $data.award }}
		<li>
			{{ if .url }}
				<a href="{{ .url }}"}}>{{ .name }}, {{ .org }}, {{ .year }}</a>
			{{ else }}
				{{ .name }}, {{ .org }}, {{ .year }}
			{{ end }}
		</li>
		{{ end }}
		</ul>
	{{ end }}
{{ partial "footer" .}}
